#experienceBox {
    left: 0;
    right: 0;
    h2 {
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    #expGrid {
        max-width: 400px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        //column-gap: 3rem;
        row-gap: 3rem;
        
        #rhinoImg {
            max-width: 50px;
        }
        img {
            margin: 0 auto 0 0;
            padding-right: 15px;
            max-width: 69px;
        }
        p {
            display: flex;
            align-items: center;
            padding-left: 1rem;
            white-space: nowrap;
        }
        .rightGridP{
            margin-right: 0;       
            //change this maybe----
            //justify-content: end;
            //---------------------
        }
    }
}
