h1 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    text-transform: uppercase;
    font-family: "neue-haas-grotesk-display", sans-serif;
    word-spacing: 0.5rem;
}

h2 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    text-transform: uppercase;
    font-family: "neue-haas-grotesk-display", sans-serif;
    word-spacing: 0.5rem;
}

h3 {
    font-size: 1.25rem;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    
}

h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 27px;
    letter-spacing: 0.05rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.5rem;
}

p {
    font-size: 1.25rem;
    
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.08rem;
}

a {
    color: #d9d9d9;
    text-decoration: none;
    font-size: 1.5rem;
}
